services:
  grott:
    container_name: grott
    image: ledidobe/grott:2.8.3
    volumes:
      - ./grott/output:/tmp/grottlog/
      - ./grott/config/grott.ini:/app/grott.ini
    ports:
      - 5279:5279
    restart: unless-stopped
    network_mode: host
    #labels:
    #  - "com.centurylinklabs.watchtower.enable=true"
