services:
  mosquitto:
    container_name: mosquitto
    image: eclipse-mosquitto:2.0.15
    volumes:
      - ./config:/mosquitto/config
      - ./data:/mosquitto/data
      - ./log:/mosquitto/log
    ports:
      - 1883:1883
    restart: unless-stopped
    network_mode: host
