services:
  portainer:
    image: portainer/portainer:latest
    container_name: portainer
    restart: always
    command: -H unix:///var/run/docker.sock
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/data
    environment:
      - TZ="Europe/London"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
#    networks:
#      - swag_proxy

#networks:
#  swag_proxy:
#    external: true
